body{
    background-color: rgb(207, 227, 245);
    margin: 0px;
    padding: 0px;
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/030/597/861/small_2x/abstract-blue-and-yellow-background-with-a-wave-pattern-generative-ai-photo.jpg);
    background-repeat: no-repeat;
    background-size: 1450px;
    
    
}

nav{
    display: flex;
    background-color: rgb(255, 255, 255);
    height: 40px;
    width: auto;
    margin: 0px;
    font-size: 23px;
    text-align: right;
    justify-content: right;
    margin-left: 55px;
}
nav ul{
    list-style: none;

}
nav ul li{
    list-style: 50px;
    display: inline;
    margin: 0px;
    padding: 25px;
    
}
nav ul li a{
    text-decoration: none;
    color: rgb(2, 2, 2);

}
nav ul li a:hover{
    text-shadow: 0px 2px 1px rgb(222, 236, 25);
    border-bottom: 1px solid rgb(37, 183, 220);
}
#heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 255, 255);

}
#heading img{
    background-color: rgb(255, 255, 255);
    color: white;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin: 35px;
    margin-right: 55px;
    
}
.topbar{
   
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    margin-left: 65px;
    margin-right: 15px;

}
select{
    border: none;
    outline: none;
}
#container{
    align-items: center;
    text-align: center;
    color: whitesmoke;
}
